<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{css/enseignants/enseignant.css}">
</head>
<body>
<table>
		<tr th:each="nom:${liste}">
			
			<td th:text="${nom.id}"></td>
			<td th:text="${nom.numero}"></td>
			<td th:text="${nom.nom}"></td>
			<td th:text="${nom.prenom}"></td>
			<td th:text="${nom.dateNaissance}"></td>
			<td th:text="${nom.sexe}"></td>
			<td th:text="${nom.grade}"></td>
			<td th:text="${nom.dateEmbauche}"></td>
			<td><a th:href="@{enseignant(id=${nom.id})}">Voir Details</td>
			<td><a th:href="@{supprimerenseignant(id=${nom.id})}">Supprimer Enseignant</td>
			
    	</tr>
    </table>
    <a th:href="@{/ajout-enseignant}">Ajouter Enseignant</a>
<script type="text/javascript" th:src="@{js/enseignant.js}" ></script>

</body>
</html>